{% extends 'base.html' %}

{% block bodyblock %}

<!-- Welcome Message -->
<div class="container">

    <br>
    <h3 class="content">Presence History</h3>
    
    
    <table class="table table-striped">
    <thead>
        <table class="table table-striped">
    <tr>
        <td>No</td>
        <td>Tanggal</td>
        <td>Nama</td>
        <td>Waktu</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
        {% for row in history %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.4 }}</td>
    </tr>
        {% else %}
    <tr>
        <td colspan="2">Unbelievable. No entries here so far</td>
    </tr>
        {% endfor %}
    </tbody>
    </table>

</div>

{% endblock %}