{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br>
    <h3 class="content">Welcome to Presence System with Face Recognition</span></h3>
    <br>
    <p align="justify">
    Over the last few years, deep artificial neural networks have gotten the most attention in computer science, especially in pattern recognition, machine vision and machine learning. One of its excellent applications is in the emotion recognition via facial expression area.
    </p>
</div>

{% endblock  %}